body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(110, 141, 131);
}

h1{
    color: brown;

}

form{
    background-color: bisque;
    text-align: center;
    width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px;
    margin-bottom: 30px;
    margin-top: 30px;

}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid;
    border-radius: 7px;
    margin-bottom: 10px;

}

#textBox2{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid;
    border-radius: 7px;
    margin-bottom: 15px;
}

#textBox3{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid;
    border-radius: 7px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: chocolate;
    font-size: 1.5em;
    border: none;
    padding: 10px;
    border-radius: 15px;    
    cursor: pointer;
}

button:hover{
    background-color: rgb(77, 37, 8);
}

#result, #result2, #result3 {
    font-size: 1.5em;
    font-weight: bold;
}

